<!doctype html>
<html lang="en">
  <head>
    <title>회원가입</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">
  </head>
  <body>

        <div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
                    <div class="wrapper wrapper--w680">
                        <div class="card card-4">
                            <div class="card-body">
                                <h2 class="title">Registration Form</h2>
                                <form method="POST" action="{% url 'signup'%}">
                                {% csrf_token %}
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">username</label>
                                                <input class="input--style-4" type="text" name="username">
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row row-space" style="width: 50">
                                        <div class="col-2">
                                        <div class="input-group">
                                                <label class="label">Password</label>
                                        <input class="input--style-4" name="password1" type="password" value="">
                                        </div>
                                        </div>
                                        <div class="col-2">
                                                        <div class="input-group">
                                                        <label class="label">Confirm Password</label>
                                                        <input class="input--style-4" name="password2" type="password" value="">
                                                </div>
                                        </div>
                                        
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Gender</label>
                                                <div class="p-t-10">
                                                    <label class="radio-container m-r-45">Male
                                                        <input type="radio" checked="checked" name="gender">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                    <label class="radio-container">Female
                                                        <input type="radio" name="gender">
                                                        <span class="checkmark"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row row-space">
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Email</label>
                                                <input class="input--style-4" type="email" name="email">
                                            </div>
                                        </div>
                                        <div class="col-2">
                                            <div class="input-group">
                                                <label class="label">Phone Number</label>
                                                <input class="input--style-4" type="text" name="phone">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <label class="label">Subject</label>
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <select name="subject">
                                                <option disabled="disabled" selected="selected">Choose option</option>
                                                <option>enterprize</option>
                                                <option>individual</option>
                                            </select>
                                            <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                    <div class="p-t-15">
                                        <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
        </div>

</body>
</html>