{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="header__contents">
        <h1 class="header__head">
            <br><br>
          복지 가즈아
        </h1>
          <br><br>
        <p class="header__text">
          복지 기관 검색 플랫폼.<br><br><br>
        </p>
      </div>
    </div>
 </div>

  
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

        <h5 class="my-0 mr-md-auto font-weight-normal"> 검색 </h5>
  </div>

<p style="text-align: center;">
    <img src="https://ideathon-2019.s3.amazonaws.com/post_image/1561907298904_5%EB%B2%88.jpg" width="700" height="500">
    <img src="https://ideathon-2019.s3.amazonaws.com/post_image/1561907305155_6%EB%B2%88.jpg" width="700" height="500">
    <img src="https://ideathon-2019.s3.amazonaws.com/post_image/1561907313970_7%EB%B2%88.png" width="700" height="500">

</p>


{% endblock %}